body {
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

section {
    display: flexbox;
    border-bottom: thin solid whitesmoke;
    padding-bottom: 1vh;
}

input[type=text],textarea,button{
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: thin whitesmoke solid;
}
input[type=text]:disabled{
    text-align: center;
}

li {
    margin-bottom: 1em;
}

#sectionAdd{
    display:none;
}
.templateOpt, button {
    background-color: black;
    border: thin whitesmoke solid;
    text-align: center;
}
.templateOpt:hover,.selected,button:active{
    background-color: #4f4f4f;
}

#about {
    text-align: left;
}
#sectionSets,#sectionNames{
    display: none;
}

.example {
    font-weight: bolder;
    line-height: 1.8em;
}

input[type=text],button,textarea{
    font-size: 1em;
}

/** desktop **/
@media only screen and (min-width:768px){
    body {
        margin: 4vh 5vw;
    }
    section {
        margin: 3vh auto;
        text-align: center;
        border-collapse: collapse;
        justify-content: center;
        width: 90vw;
    }
    .templateOpt,input[type=text] {
        padding: 1vh 1vw;
        margin: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .templateOpts{
        display:inline-flex;
        padding: 1vh 1vw;
        margin:0;
    }
    input[type=text] {
        width: 100%;
    }
    textarea {
        width:80vw;
        height: 4em;
        margin: 1vh 1vw;
    }
}

/** mobile/narrow **/
@media (max-device-width:768px), (-webkit-min-device-pixel-ratio:4), (max-width:768px){
    .templateOpts{
        flex-direction: column;
        flex-wrap: wrap;
        width:80vw;
        margin: 0 auto;
    }
    .templateOpt, input[type=text]{
        width:100%;
        line-height: 1.8em;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    textarea{
        width:80vw;
        line-height:1em;
        padding: 1vh 1vw;
        height: 5em;
    }
    button{
        padding: 1vh 1vw;
    }
    input[type=text]:disabled{
        color: grey;
        opacity: 1;
    }
}

/** font size shenanigans Specifically for mobile **/
@media (max-device-width:768px), (-webkit-min-device-pixel-ratio:4) {
    body, sub {
        font-size: 32px;
    }
    section {
        border: none;
        padding: 0;
    }
    .templateOpts, input[type=text],textarea,button{
        font-size: 36px;
        line-height: 40px;
    }
    input[type=text]{
        height: 40px;
        padding: 1vh 0;
        background-color: rgb(45,45,45);
    }
    textarea {
        height: 250px;
        background-color: rgb(45,45,45);
    }
    .templateOpts, textarea{
        width: 80vw;
    }
    h3 {
        background-color: rgb(60,60,60);
        padding: 2vh 0;
        font-size: 45px;
    }
}