body {
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

section {
    border-bottom: thin solid whitesmoke;
    padding-bottom: 1vh;
    display: flexbox;
}

input[type=text],textarea,button{
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    border: thin whitesmoke solid;
}
input[type=text]:disabled{
    text-align: center;
}

li {
    margin-bottom: 1em;
}

#sectionAdd{
    display:none;
}
.templateOpt, button {
    background-color: black;
    border: thin whitesmoke solid;
    text-align: center;
}
.templateOpt:hover,.selected,button:active{
    background-color: grey;
}

#about {
    text-align: left;
}
#sectionSets,#sectionNames{
    display: none;
}

.example {
    text-decoration: underline;
    line-height: 1.8em;
}

/** desktop **/
@media only screen and (min-width:768px){
    body {
        margin: 4vh 5vw;
    }
    section {
        margin: 3vh auto;
        text-align: center;
        border-collapse: collapse;
        justify-content: center;
        width: 90vw;
    }
    .templateOpt,input[type=text] {
        padding: 1vh 1vw;
        margin: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .templateOpts{
        display:inline-flex;
        padding: 1vh 1vw;
        margin:0;
    }
    input[type=text] {
        width: 8em;
    }
    textarea {
        width:80vw;
        margin: 1vh 1vw;
    }
}

/** mobile **/
@media only screen and (max-device-width:768px){
    body {
        background-color: salmon;
    }
    .templateOpts{
        flex-direction: column;
        flex-wrap: wrap;
        width:80vw;
        margin: 0 auto;
    }
    .templateOpt, input[type=text]{
        width:100%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    input[type=text],textarea,button{
        font-size:1em;
    }
    textarea{
        width:80vw;
    }
}